




<section class="post-list post-content"><div class="post-data">
  <img src="http://classpixels.in/readtemplate/img/post-image.jpg">
  <h1 class="post-page-title"><%= @post.title %></h1>
  <p class="post-meta-data"><%= @post.created_at.strftime('%F') %></p>

 <p><%= @post.content %></p>


  <div class="author-box">
  <%= image_tag avatar_url(@post.user.email) %>
  <%= @post.user.email %>
  </div>

<div class="row">
  <div class="col-md-6 paddd">
<p><b>Prev</b>&nbsp;
<a href="#"><%= @post.title %></a></p>
</div>
<div class="col-md-6 paddd righted">

  <p>
  <a href="#"><%= @post.title %></a>&nbsp;<b>Next</b></p>
</div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</section>